<!DOCTYPE html>

<html>

    <head>
          <title>Help</title>
    </head>
      <link rel="stylesheet"  href="./css/style.css">
    <body>
        <div class="main-content">
                {{>header}}
        </div>
         {{>footer}}
        
    </body>

</html>